doctype html
html
  head
    title khan dance academy
    block scripts
    block style
  body
    nav#navbar
            ul
                div.logo
                    img(src="/static/img/logo.png", alt="")
                    p KDA
                li #[a(href="/") home]
                li #[a(href="/") about]
                li #[a(href="/") services]
                li #[a(href="/") class info]
                li #[a(href="/contact") contact us]
    block content
        
    section#footer
      | copyright @ khandanceacademy.com | all rights reserved