*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
.logo{
    display: flex;
    margin-left: -400px;
    font-weight: bold;
}
.logo img{
    height: 30px;
}
nav{
    background-color: skyblue;
    padding: 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    padding: 30px 30px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a:hover{
    color: black;
}
#danceimages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: rgba(255, 255, 255, 0.781);
    background: center/cover no-repeat url("/static/bg.jpg");
}
.card-container{
    display: flex;
}
.card-image img{
    height: 85px;
}
.card-content p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#mission{
    height: 300px;
    width: 70%;
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.card{
    display: inline-block;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    height: 60%;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
#danceimages div{
    font-size: 2rem;
}

#sponsers{
    height: 300px;
    margin: 0px,auto;
    background-color: blue;
     align-items: center; 
     justify-content: center; 
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.scontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.simg{
    height: 170px;
    margin: 10px;
}
#footer{
    height: 35px;
    background-color:black;
    color: white;
    text-align: center;
}